
body {
	background-color: var(--white);
}

/* buttons */

.white-btn {
	background-color: white;
	color: black;
	margin: 0;
	font-weight: bold;
	padding: 0.7rem 1.5rem;
	font-size: 14px;
	border-radius: 5px;
	transition: background-color .3s;
}

@media (hover: hover) {

	.white-btn:hover {
		background-color: var(--lightgrey);
	}

}

.white-btn:active {
	background-color: var(--lightgrey);
}

.green-btn {
	background-color: transparent;
	color: white;
	margin: 0;
	font-weight: bold;
	padding: 0.7rem 1.5rem;
	font-size: 16px;
	border-radius: 5px;
	transition: background-color .3s, color .3s;
}

@media (hover: hover) {

	.green-btn:hover {
		background-color: var(--green);
		color: var(--black);
	}

}

.green-btn:active {
	background-color: var(--green);
	color: var(--black);
}

.transparent-btn {
	color: var(--grey);
	font-weight: bold;
	padding: 0.7rem 1rem;
	border-radius: 10px;
	font-size: 16px;
	letter-spacing: 0;
	transition: color .3s, background-color .3s;
	text-align: center;
}

@media (hover: hover) {

	.transparent-btn:hover {
		color: white;
		background-color: var(--darkgrey);
	}

}	

.transparent-btn:active {
	color: white;
	background-color: var(--darkgrey);
}

.black-btn-color {
	background-color: var(--black) !important;
	color: white !important;
}

/* the-end-of-buttons */



/* colors */

.color-black { color: var(--black); }

/* the-end-of-colors */