
header {
	position: relative;
	z-index: 15;
}

/* loading-ani */

@keyframes rotateCircles {

	from {

		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);

	}

	to {

		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);

	}

} 

@keyframes firstCircle {

	from {

		right: 1px;
		bottom: 1px;
		opacity: .4;

	}

	to {

		right: 5px;
		bottom: 5px;
		opacity: .9;

	}

}

@keyframes secondCircle {

	from {

		left: 1px;
		bottom: 1px;
		opacity: .4;

	}

	to {

		left: 5px;
		bottom: 5px;
		opacity: .9;

	}

}

@keyframes thirdCircle {

	from {

		right: 1px;
		top: 1px;
		opacity: .4;

	}

	to {

		right: 5px;
		top: 5px;
		opacity: .9;

	}

}

@keyframes fourthCircle {

	from {

		left: 1px;
		top: 1px;
		opacity: .4;

	}

	to {

		left: 5px;
		top: 5px;
		opacity: .9;

	}

}

.loading-ani-con {
	font-size: 0;
	animation-name: rotateCircles;
  	animation-duration: 1.2s;
  	animation-timing-function: linear;
  	animation-iteration-count: infinite;
  	animation-delay: 0s;
  	width: 30px;
  	margin-top: 2rem;
}

.loading-ani-circle {
	position: relative;
	display: inline-block;
	width: 15px;
	height: 15px;
	background-color: var(--green);
	border-radius: 50%;
	animation-timing-function: linear;
  	animation-iteration-count: infinite;
  	animation-duration: 1.2s;
  	animation-direction: alternate;
  	animation-delay: 0s;
}

.loading-ani-circle:first-child {
	animation-name: firstCircle;
}

.loading-ani-circle:nth-child(2) {
	animation-name: secondCircle;
}

.loading-ani-circle:nth-child(3) {
	animation-name: thirdCircle;
}

.loading-ani-circle:last-child {
	animation-name: fourthCircle;
}

/* the-end-of-loading-ani */



/* header-container */

.header-con {
	position: relative;
	top: 0;
	margin-top: 0;
	background-image: url('../images/header-bg.png');
	background-repeat: no-repeat;
	background-size: cover cover;
	background-position: center center;
	text-align: center; 
	padding: 100px 10%;
}

.header-con-title {
	margin: 0 0 1rem;
	font-weight: bolder;
}

.header-con-text {
	margin: 0 0 1.5rem;
	font-weight: lighter;
}

.header-con-bottom-text {
	margin: 1.3rem 0 0;
	font-size: 12px;
}

.header-con-title,
.header-con-text,
.header-con-bottom-text {	
	color: var(--grey);
}

@media (max-width: 575px) {

	.header-con-title,
	.header-con-link {
		font-size: 14px;
	}

	.header-con-text {
		font-size: 16px;
	}

}

/* the-end-of-header-container */



/* navbar */

.fl-navbar { 
	padding: 0 1rem 1rem;
}

.fl-navbar .fl-navbar-brand,
.fl-navbar .fl-navbar-toggler,
.fl-navbar .fl-navbar-nav,
.fl-navbar .fl-navbar-links,
.fl-navbar-search-parent {
	margin-top: 1rem !important;
}

@media only screen and (min-width: 992px) {

	.fl-navbar {
		padding-left: 2.5rem;
		padding-right: 2.5rem;
	}

}

.fl-navbar-nav {
	margin-left: 50px;
}

.fl-navbar-links {
	margin-left: auto;
}


/* the-end-of-navbar */



/* navbar-links */

.fl-navbar-links {
	margin-right: 1rem;
}

.fl-navbar-links-link {
	font-size: 7px !important;
	padding: 8px !important;
}

@media (min-width: 400px) {

	.fl-navbar-links-link {
		font-size: 12px !important;
		padding: 0.7rem 1rem !important;
	}

}

@media (min-width: 992px) {

	.fl-navbar-links {
		margin-right: 0;
	}

	.fl-navbar-links-link {
		font-size: 16px !important;
	}

}

/* the-end-of-navbar-links */



/* navbar-toggler */ 

.fl-navbar-toggler-line::before,
.fl-navbar-toggler-line,
.fl-navbar-toggler-line::after {
	width: 10px;
    height: 1px;
}

.fl-navbar-toggler-line::before,
.fl-navbar-toggler-line::after {
    top: -4px;
}   

.fl-navbar-toggler-line::after {
	top: 4px;
}

/* the-end-of-navbar-toggler */ 



/* md-menu */

.fl-md-menu {
	width: calc(100% - 2rem);
	border-radius: 10px;
	overflow: hidden;
	top: 80px;
	padding: 5px;
	z-index: 5;
}

.fl-md-menu.fl-show {
	left: 1rem;
}

.fl-md-menu-list {
	background-color: transparent;
}

.fl-md-menu-item:last-child a {
	background-color: black;
	color: white !important;
	border-radius: 5px;
}

/* the-end-of-md-menu */


/* new-styled-navbar */

.fl-new-styled-navbar .fl-nav-link {
	color: var(--darkgrey);
}

@media (hover: hover) {

	.fl-new-styled-navbar .fl-nav-link:hover {
		color: var(--darkgrey);
		background-color: var(--secondlightgrey);
	}

	.fl-new-styled-navbar .fl-nav-item-dropdown:hover .fl-nav-link {
		color: var(--darkgrey);
		background-color: var(--secondlightgrey);
	}

}	

.fl-new-styled-navbar .fl-nav-link:active,
.fl-new-styled-navbar .fl-nav-link.fl-active {
	color: var(--darkgrey);
	background-color: var(--secondlightgrey);
}

.fl-new-styled-navbar .transparent-btn {
	color: var(--darkgrey);
}

@media (hover: hover) {

	.fl-new-styled-navbar .transparent-btn:hover {
		color: var(--darkgrey);
		background-color: var(--secondlightgrey);
	}

}	

.fl-new-styled-navbar .transparent-btn:active {
	color: var(--darkgrey);
	background-color: var(--secondlightgrey);
}

.fl-new-styled-navbar .green-btn {
	background-color: var(--green);
	color: var(--black);
	transition: opacity .3s;
}

@media (hover: hover) {

	.fl-new-styled-navbar .green-btn:hover {
		opacity: 0.7;
	}

}

.fl-new-styled-navbar .green-btn:active {
	opacity: 0.7;
}

.fl-new-styled-navbar + .fl-md-menu {
	background-color: var(--secondlightgrey);
}

.fl-new-styled-navbar + .fl-md-menu .fl-md-menu-link {
	color: var(--darkgrey);
}

/* the-end-of-new-styled-navbar */



/* sign-in */

#signInModalContainer {
	background-color: rgba(26,27,27,0.4);
}

#signInModalContainer .fl-modal-child {
	padding: calc(1.3rem + 1.3vw);
	width: 100%;
	height: 100%;
	margin-top: 0;
	margin-bottom: 0;
	top: 0 !important;
}

@media (min-width: 992px) {

	#signInModalContainer {
		align-content: center;
		-ms-flex-line-pack: center;
		align-items: center;
	  	-ms-flex-align: center;
	}
	
	#signInModalContainer .fl-modal-child {
		padding: calc(1.3rem + 1.3vw);
		width: 29%;
		height: auto;
		top: 0 !important;
	}

}

#signInModalContainer .fl-form-title {
	color: var(--black);
	font-size: 24px;
	text-align: left;
	margin-top: 1rem;
}

#signInModalContainer .fl-form-label {
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 1px;
}

#signInModalContainer .fl-form-input {
	border: 1px solid var(--black);
	font-size: 16px;
	color: var(--black);
}

#signInModalContainer .fl-form-link {
	color: var(--blue);
	font-size: 14px;
}

#signInModalContainer .fl-form-text {
	font-size: 14px;
	text-align: center;
	margin-top: 100px;
	margin-bottom: 0;
}

#signInModalContainer .fl-form-submit {
	font-weight: bold;
	letter-spacing: 1px;
}

#signInModalContainer .fl-form-con {
	margin-top: 1.5rem;
}

#signInModalContainer .fl-modal-con-closer-in-modal-child {
	color: grey;
	font-size: 20px !important;
}

#signInModalContainer {

}

#signInModalContainer {

}

#signInModalContainer {

}

/* the-end-of-sign-in */



	


